<%- include("./partials/head") %>
    <h1 class="text-center text-primary fw-bold mt-5"=><%= title %></h1>

<%- include("./partials/formulario") %>

<%- include("./partials/vistaProductos") %>

<%- include("./partials/footer") %>